<!-- _includes/base.njk -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

  <script src="/js/marked.js"></script>
  <title>{{ title | default("Defeat Global Fascism") }}</title>
  <style>
    code {
      white-space : pre-wrap;
    }

    code.language-What {
      white-space: pre-wrap;
    }

    pre code {
      white-space: pre-wrap;
    }

    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #1e1e1e;           /* Dark background color */
      color: #ffffff;                      /* Light text color */
    }

    #results {
      list-style-type: none;
      padding: 0;
    }

    #results li {
      margin-bottom: 20px;
      background-color: #2d2d2d;           /* Darker background color for each result */
      padding: 10px;
      border-radius: 5px;
    }

    #results a {
      color: #61dafb;                       /* Link color */
    }

    .collapsible {
      cursor: pointer;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
      background-color: #2d2d2d;
      color: #ffffff;
    }

    .collapsible.collapsed .content {
      display: none;
    }

    .preview {
      max-height: 100px; /* Adjust the maximum height as needed */
      overflow: hidden;
    }

    .preview.collapsed {
      display: none;
    }

    .content {
      display: block;
    }
  </style>
</head>
<body>
  <header>
    <h1>{{ title | default("White Pilling") }}</h1>
  </header>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <main>
    {{ content | safe }}
  </main>

  <footer>
    &copy; 2023 logicp
  </footer>
</body>
</html>

