<!-- _includes/base.njk -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/marked"></script>
  <title>{{ title | default("My Static Site") }}</title>
  <style>
  code.language-What {
    white-space: pre-wrap; !important;
  }
</head>
<body>
  <header>
    <h1>{{ title | default("My Static Site") }}</h1>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    &copy; 2023 logicp
  </footer>
</body>
</html>

